.center {
  text-align: center;
}
sub {
  font-size: smaller;
}
h1{
  font-size: 50px;
}
h5{
  font-size: 20px;
}
.e1{
  color: red;
}

p{
  font-size: 24px;
}
.indent{
  text-indent: 5%;
}
